
        <footer class="text-center">
            <p> &copy; All Rights Reserved</p>
            <p> Desgined By <em>Aakash Kashyap</em></p>
        </footer>
     </div>     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <srcipt src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></srcipt>
    </body>

</html>