<html>
    <head>
        <title>Passport Node Authentication</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
        <style>
            
        </style>
    </head>


    <body>
 
        <div class="container"> 
            <div class="jumbotron">
                <h1>Node Authentication </h1>
                <p>Using Passport JS</p> 
            </div>
            <div class= "row">
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-primary btn-lg" href="/secret" role="button">Memebers Area</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
                    </div>

                </div>
                <br>
                <br>
                <br>